<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_cabecera.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_productos.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_login.css' %}">
        <link rel="stylesheet" href="{% static 'css/style_pie.css' %}">
        <!-- ICON -->
        <link rel="icon" href="{% static 'img/ico.png' %}">
        <script src="https://kit.fontawesome.com/c46814ff6f.js" crossorigin="anonymous"></script>
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap" rel="stylesheet">
        <title>Tienda Online</title>
    </head>
    <body>
        {% include "cabecera.html" %} <!-- Llamo el archivo de la cabecera de la pag -->
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% include "pie.html" %} <!-- Llamo el archivo del pie de pag -->
    </body>
</html>