{% extends 'index.html' %}
{% load static %}
{% block content %}
<div id="login">
    <div id="formularios">
        <section id="form1">
            <h2>INICIAR SESIÓN</h2>
            <form class="form">
                <p>Si usted ya posee una cuenta, por favor inicie sesión.</p>
                <label for="email-ingreso" class="campo">Email</label>
                <input type="text" id="email-ingreso">
                <label for="contra" class="campo">Contraseña</label>
                <input type="password" id="contra">
                <button type="submit" class="enviar">Ingresar</button>
            </form>  
        </section>
        
        <section id="form2">
            <h2>REGISTRARSE</h2>
            <form class="form">
                <p>Si usted no posee una cuenta y quiere realizar una compra, por favor regístrese.</p>
                <label for="dni" class="campo">DNI</label>
                <input type="text" id="dni">
                <label for="nombre" class="campo">Nombre</label>
                <input type="text" id="nombre">
                <label for="apellido" class="campo">Apellido</label>
                <input type="text" id="apellido">
                <label for="celular" class="campo">Celular</label>
                <input type="text" id="celular">
                <label for="email-registro" class="campo">Email</label>
                <input type="text" id="email-registro">
                <button type="submit" class="enviar">Confirmar Registro</button>
            </form>    
        </section>
    </div>    
</div>
{% endblock content %}