{% extends 'index.html' %}
{% load static %}
{% block content %}
<main class="main1">
    <ul id="ruta-contenido">
    {% if rutas %}
        <li><a href="/" class="btn-negro" id="home">Home</a></li>
        {% if rutas.0 and rutas.1 %}
            <li><a href="/categorias/{{ filtro_categoria }}" class="btn-amarillo" id="li-ruta2">{{ rutas.0 }}</a></li>
            <li><a href="/categorias/{{ filtro_categoria }}/{{ filtro_subcategoria }}" class="btn-amarillo" id="li-ruta">{{ rutas.1 }}</a></li>
        {% endif %}
        {% if rutas.0 and not rutas.1  %}
        <li><a href="/categorias/{{ filtro_categoria }}" class="btn-amarillo" id="li-ruta">{{ rutas.0 }}</a></li>
        {% endif %}
    {% endif %}
    </ul>

    {% if productos %} <!-- Si se encuentran productos se procede a mostrarlos con un for -->
    <div id="contenido">
        {% for producto in productos %}
        <div class="fila-articulos">
            <article class="articulo tarjeta"> <!-- Formato para mostrar los datos -->
                <section class="seccion-img">
                    <!-- busca la imagen del producto almacenada -->
                    <img src="{% static 'media/' %}{{ producto.imagen_publicacion }}" alt="" class="img-articulo">
                </section>
                <section class="seccion-datos">
                    <!-- busca los datos del producto -->
                    <h4 class="titulo">{{ producto.titulo_publicacion }}</h4>
                    <h5 class="estado">Precio</h5> 
                    <p class="precio">$ {{ producto.precio }}</p>
                </section>
                <form action="{% url 'agregar_al_carrito' producto_id=producto.id %}" method="POST" id="form-producto">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" value="{{ producto.id }}">
                    <input type="hidden" name="accion" value="agregar">
                    <button type="submit" class="btn-art btn-amarillo">Agregar</button>
                </form>
            </article>
        </div>
        {% endfor %}
        {% else %} <!-- Si no se encotraron productos registrados se muestra lo siguiente -->
        <p id="sin-resultados">Oops! Sin resultados...</p> 
    </div>
    {% endif %}
</main>
{% endblock content %}