*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    text-decoration: none; /* quita el subrayado de los links */
    outline: none;
    list-style: none;/*quita puntitos de listas*/
}
:root{
    --color_principal:#ffc000;
    --color_secundario:#0b0b0b;
    --color_terciario:#303030;
    --coolor_terciario_claro:#464646;
    --color_amarillo_hover:#d5a000;
    --color_blanco:#fff;
    --color_blanco_active:#dddddd;
    --color_sombras:#404040b6;
    --color_buscador_fondo:#181818;
    --color_borde_categorias:#e3e3e3;

    --shadow-color: 0deg 0% 56%;
    --shadow-elevation-low:
        0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.34),
        0.5px 0.5px 0.8px -1.2px hsl(var(--shadow-color) / 0.34),
        1.3px 1.3px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.29),
        0.8px 0.9px 1.4px -0.6px hsl(var(--shadow-color) / 0.29),
        1.6px 1.7px 2.6px -1.2px hsl(var(--shadow-color) / 0.29),
        3.3px 3.4px 5.3px -1.9px hsl(var(--shadow-color) / 0.29),
        6.3px 6.6px 10.3px -2.5px hsl(var(--shadow-color) / 0.29);
    --shadow-elevation-high:
        0.3px 0.3px 0.5px hsl(var(--shadow-color) / 0.27),
        1.5px 1.6px 2.5px -0.3px hsl(var(--shadow-color) / 0.27),
        2.7px 2.8px 4.4px -0.6px hsl(var(--shadow-color) / 0.27),
        4.1px 4.2px 6.6px -0.8px hsl(var(--shadow-color) / 0.27),
        6px 6.2px 9.7px -1.1px hsl(var(--shadow-color) / 0.27),
        8.6px 8.9px 13.9px -1.4px hsl(var(--shadow-color) / 0.27),
        12.2px 12.6px 19.7px -1.7px hsl(var(--shadow-color) / 0.27),
        17.1px 17.7px 27.7px -1.9px hsl(var(--shadow-color) / 0.27),
        23.6px 24.3px 38.1px -2.2px hsl(var(--shadow-color) / 0.27),
        31.7px 32.8px 51.3px -2.5px hsl(var(--shadow-color) / 0.27);
}
html{
    scroll-behavior:smooth;
}
html, body {
    height: 75%;
    width: 100vw;
    max-width: 100%;
    background-color: #ebebeb;
}
body{
    height: 75vh;
}

/* barra lateral */
body::-webkit-scrollbar{
    width: 5px;
    background-color: rgb(21, 21, 21);
}
body::-webkit-scrollbar-thumb{
    background-color: #4040405e;
    border-radius: 5px;
}
.main1{
    margin-top: 152px;
    padding: 2% 18%;
    left: 0%;
    right: 0%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
}
.main2{
    margin-top: 152px;
    left: 0%;
    right: 0%;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content:start;
}
/* clases predefinidas */

.btn-amarillo{
    background-color: var(--color_principal);
    color: var(--color_secundario);
    border-radius: 5px;
}
.btn-amarillo:hover{
    background-color: var(--color_secundario);
    color: var(--color_blanco);
    transition: 0.2s ease; 
    cursor: pointer;
}
.btn-amarillo:active{
    background-color: var(--color_terciario);
    color: var(--color_blanco);
    transition: 0.2s ease; 
}

.btn-negro{
    background-color: var(--color_secundario);
    color: var(--color_blanco);
    border-radius: 5px;
}
.btn-negro:hover{
    background-color: var(--color_terciario);
    color: var(--color_blanco);
    transition: 0.2s ease; 
    cursor: pointer;
}
.btn-negro:active{
    background-color: var(--coolor_terciario_claro);
    color: var(--color_blanco);
    transition: 0.2s ease; 
}

.tarjeta{
    background-color: var(--color_blanco);
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
}
.tarjeta:hover{
    box-shadow: var(--shadow-elevation-high);
    transition: 0.2s ease; 
    cursor: pointer;
}

.tarjeta-sinhover{
    background-color: var(--color_blanco);
    border-radius: 5px;
    box-shadow: var(--shadow-elevation-medium);
}