/* navbar */
nav{
    width: 100vw;
    position: fixed; /*mantiene el nav siempre visible*/
    box-shadow: 0px 0px 5px  var(--color_sombras);
    top: 0%;
    z-index: 100;
}
#nav-encabezado{
    padding: 0% 18%;
    min-height: 120px;
    max-height: 120px;
    left: 0%;
    right: 0%;
    background-color: var(--color_secundario);
    display: flex;
    align-items: center;
    justify-content: start;
}
/* logo */
#titulo{
    color: var(--color_blanco);
    font-weight: 900;
    display: inline-block;
}
#encabezado-logo a:hover{
    color: var(--color_principal);
    text-shadow: 0px 0px 5px  var(--color_principal);
}
#encabezado-logo{
    width: 30%;
    font-size: 35px;
}
/* buscador */
#contenedor-buscador{
    margin: 0% 2%;
    width: 40%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: var(--color_buscador_fondo);
    border: 1px solid #acacac;
}
#contenedor-buscador:hover{
    border: 1px solid var(--color_blanco);
    box-shadow: 0px 0px 5px  #ffffff5d;
    transition: 0.2s ease;
}
#contenedor-buscador:hover img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(103%) contrast(103%);
}
#contenedor-buscador:focus-within{
    border: 1px solid var(--color_blanco);
    box-shadow: 0px 0px 5px  #ffffff5d;
}
#buscador-input{
    padding: 10px 15px;
    width: 90%;
    color: var(--color_blanco);
    background-color: var(--color_buscador_fondo);
    font-size: 16px;
    border: none;
}
#buscador-btn{
    padding: 2px 5px 3px 5px;
    display: flex;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: var(--color_buscador_fondo);
    align-items: center;
}
#buscador-img{
    padding: 5px 10px;
    height: 23px;
    filter: invert(78%) sepia(0%) saturate(5577%) hue-rotate(136deg) brightness(96%) contrast(70%);
    cursor: pointer;
}
#buscador-img:hover{
    filter: invert(75%) sepia(87%) saturate(1980%) hue-rotate(359deg) brightness(102%) contrast(105%)!important;
}
#contenedor-buscador:focus-within #buscador-img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(55deg) brightness(103%) contrast(103%);
}
#contenedor-buscador:focus-within{
    border: 1px solid #c8c8c8;
    border-radius: 4px;
}
#contenedor-buscador:focus-within #buscador-input{
    border-radius: 4px 0px 0px 4px;
}
/* categorias */
#nav-categorias{
    padding: 0% 18%;
    left: 0%;
    right: 0%;
    min-height: 34px;
    max-height: 34px;
    background-color: var(--color_terciario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categorias{
    display: inline-block;
    min-height: 34px;
    max-height: 34px;
    max-width: 250px;
    color: #acacac;
}
#btn-categoria{
    padding: 5px 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    cursor: pointer;
}
#menu-hamburguesa{
    padding: 0px 10px 2px 0px;
    height: 22px;
    filter: invert(77%) sepia(0%) saturate(3331%) hue-rotate(158deg) brightness(93%) contrast(78%);
}
#flecha{
    padding: 0px 5px 0px 85px;
    height: 18px;
    filter: invert(77%) sepia(0%) saturate(3331%) hue-rotate(158deg) brightness(93%) contrast(78%);
}
.categorias:hover{
    color: var(--color_blanco);
    background-color: #4f4f4f;
    transition: 0.2s ease;
}
.categorias:hover #btn-categoria img{
    filter: brightness(0%) invert(100%);
}
#btn-categoria:hover + #menu-vertical{
    display: block;
    background-color: var(--color_blanco);
}
/* usuario */
#nav-seccion-usuario{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
#flecha-user{
    margin-left: 10px;
    height: 18px;
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(238deg) brightness(104%) contrast(101%);
}
#mi-usuario:hover{
    background-color: #4f4f4f;
}
#mi-usuario .link-usuario{
    padding: 5px 10px;
    font-size: 16px;
    color: #acacac;
    align-items: center;
    justify-content: space-between;
}
#mi-usuario .link-usuario:hover{
    color: var(--color_blanco);
    cursor: pointer;
    transition: 0.2s ease;
}
#mi-usuario:hover .link-usuario{
    color: var(--color_blanco);
    transition: 0.2s ease;
}
#mi-usuario img{
    filter: invert(88%) sepia(0%) saturate(4123%) hue-rotate(96deg) brightness(84%) contrast(74%);
}
#mi-usuario:hover img{
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(238deg) brightness(104%) contrast(101%);
    transition: 0.2s ease;
}
#lista-usuario{
    display: none;
    background-color: var(--color_blanco);
    width: 100%;
    box-shadow: 0px 2px 5px 0px var(--color_sombras); /* sombras */
}
#lista-usuario li a{
    color: #444444;
    font-size: 14px;
}
#mi-usuario:hover #lista-usuario{
    display: block;
}
#lista-usuario li{
    padding: 5px 10px;
    border: solid;
    border-top: none;
    border-right: none;
    border-width: 1px;
    border-color: var(--color_borde_categorias);
}
#mi-usuario li:hover{
    background-color: var(--color_principal);
    cursor: pointer;
}
#mi-usuario li:hover a{
    color: var(--color_blanco);
}
/* carrito */
#carrito{
    padding: 5px 10px;
    height: 24px;
    background-color: var(--color_terciario);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s ease;
    position: relative;
}
#carrito:hover{
    background-color: #4f4f4f;
    cursor: pointer;
    transition: 0.2s ease;
}
#carrito-img{
    height: 20px;
    margin-right: 10px;
}
#carrito:hover #carrito-img{
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(238deg) brightness(104%) contrast(101%);
    transition: 0.2s ease;
}
#flecha-carrito{
    height: 18px;
}
.img-c{
    filter: invert(77%) sepia(0%) saturate(3331%) hue-rotate(158deg) brightness(93%) contrast(78%);
}
#mi-carrito{
    display: none;
    position: absolute; 
    top: 100%;
    right: 0;
    font-size: 14px;
}
#carrito:hover #mi-carrito{
    display: block;
}
#carrito:hover #flecha-carrito{
    filter: invert(99%) sepia(1%) saturate(2%) hue-rotate(238deg) brightness(104%) contrast(101%);
    transition: 0.2s ease;
}
#mi-carrito{
    padding: 15px;
    background-color: var(--color_blanco);
    width: 300px;
    box-shadow: 0px 2px 5px 0px var(--color_sombras); /* sombras */
}
.producto-carrito{
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: 80px;
    font-weight: 500;
}
.img-carrito{
    height: 100%;
}
.producto-detalle{
    padding: 0px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producto-detalle h3{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
}
.producto-detalle section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.producto-cantidad{
    color: grey;
    margin-right: 5px;
    font-size: 14px;
}
.producto-precio{
    font-weight: 500;
}
#carrito-total{
    margin: 10px 0px 20px 0px;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color_borde_categorias);
    border-bottom: 1px solid var(--color_borde_categorias);
}
#carrito-total h3{
    color: var(--color_terciario);
    font-size: 14px;
    font-weight: 700;
}
#carrito-total h3,#carrito-total p{
    padding: 0px 10px;
}
#botones-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#ver-carrito{
    padding: 10px 20px;
    width: 100%;
    color: var(--color_blanco);
    background-color: var(--color_secundario);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
#ver-carrito:hover{
    background-color: var(--color_terciario);
    transition: 0.2s ease;
}
#carrito-vacio{
    color: #4444447e;
    text-align: center;
}
/* menu vertical */
#menu-vertical{
    display: none;
    border: none;
    background-color: var(--color_blanco);
    backdrop-filter: blur(0.4vw);
    font-size: 14px;
    box-shadow: 0px 2px 5px 0px var(--color_sombras); /* sombras */
    z-index: 99;
}
#menu-vertical a{
    color: rgba(68, 68, 68);
}
#menu-vertical section:hover a{
    color: var(--color_blanco);
}
#menu-vertical section:hover .menu-flecha{
    filter: brightness(0%) invert(100%);
}
#menu-vertical li .categoria-contenedor:hover{
    background-color: var(--color_principal);
    transition: 0.2s ease;
}
.categoria-contenedor:hover img{
    filter: brightness(0%) invert(100%);
}
.menu-flecha{
    height: 16px;
    filter: brightness(0%) invert(25%);
    transform: rotate(270deg);
}
#menu-vertical li .categoria-seccion a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu-vertical li section{
    border: solid;
    border-top: none;
    border-right: none;
    border-width: 1px;
    border-color: var(--color_borde_categorias);
    cursor: pointer;
}
#menu-vertical li{
    background-color: var(--color_blanco);
}
#menu-vertical li ul li{
    padding: 5px 10px;
    background: var(--color_blanco);
    border: solid;
    border-top: none;
    border-right: none;
    border-width: 1px;
    border-color: var(--color_borde_categorias);
}
.categoria-seccion{
    padding: 5px 10px ;
}
#sub-categorias{
    position: absolute;
    height: 100%;
    top: 0%;
    width: 250px;
    background-color: var(--color_blanco);
    border-left: solid;
    border-width: 1px;
    border-color: var(--color_borde_categorias);
    box-shadow: 2px 2px 5px 0px var(--color_sombras); /* sombras */
    z-index: 9;
}
#sub-categorias li a{
    display: block;
    width: 100%;
}
.menu-sub-categorias{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--color_blanco);
}
#menu-vertical li ul li:hover{
    background-color: var(--color_principal);
    transition: 0.2s ease;
    cursor: pointer;
}
#menu-vertical li ul li:hover a{
    color: var(--color_blanco);
}
#menu-vertical:hover{
    display: block;
}
.categoria-item:hover .menu-sub-categorias{
    display: block;
}
.categoria-item:hover .categoria-titulo{
    color: var(--color_blanco) !important;
}